.n2-ss-slider-controls-absolute-left-center > .n2-ss-widget {
  border-radius: 0 50px 50px 0;
}

.n2-ss-slider-controls-absolute-right-center > .n2-ss-widget {
  border-radius: 50px 0 0 50px;
}

.n2-ss-slider-controls-absolute-left-center > .n2-ss-widget,
.n2-ss-slider-controls-absolute-right-center > .n2-ss-widget {
  height: 100%;
  display: flex;
  padding-left: var(--widget-offset);
  padding-right: var(--widget-offset);
  margin: 0 !important;
}

.n2-ss-slider-controls-absolute-left-center > .n2-ss-widget:hover,
.n2-ss-slider-controls-absolute-right-center > .n2-ss-widget:hover {
  background: #3f51b512;
}
/* añade contador a los dots */
.bullet-counter .nextend-bullet-bar {
  counter-reset: bullet-counter;
  position: relative;
  bottom: 5rem;
}

.bullet-counter .nextend-bullet-bar [class*="n2-bullet"]::before {
  content: counter(bullet-counter);
  display: block !important;
  font-size: 15px;
  font-weight: bold;
}

.bullet-counter .nextend-bullet-bar [class*="n2-bullet"] {
  counter-increment: bullet-counter;
  box-sizing: initial;
  visibility: initial;
  height: 32px;
  padding: 0 2rem !important;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
}

ss3-force-full-width {
    width: 100vw !important;
}