<div class="buttons-category">
  <a
    href="#"
    data-url="/servicios/paquetes-y-recargas/"
    class="button-link paquetes-y-recargas data-url svg-animate"
  >
    <em
      class="icon_mission svg-element data-svg"
      data-file-name="svg-mission"
    ></em>
    <span class="font-md-24">Paquetes y Recargas</span>
  </a>
  <a
    href="#"
    data-url="/servicios/giros/"
    class="button-link giros data-url svg-animate"
  >
    <em class="icon_turns svg-element data-svg" data-file-name="svg-turns"></em>
    <span class="font-md-24">Giros</span>
  </a>
  <a
    href="#"
    data-url="/servicios/soat/"
    class="button-link soat data-url svg-animate"
  >
    <em class="icon_soat svg-element data-svg" data-file-name="svg-soat"></em>
    <span class="font-md-24">SOAT</span>
  </a>
  <a
    href="#"
    data-url="/servicios/recaudo-de-facturas/"
    class="button-link recaudo-de-facturas data-url svg-animate"
  >
    <em
      class="icon_collection svg-element data-svg"
      data-file-name="svg-collection"
    ></em>
    <span class="font-md-24">Recaudo de Facturas</span>
  </a>
  <a
    href="#"
    data-url="/servicios/delivery/"
    class="button-link delivery data-url svg-animate"
  >
    <em
      class="icon_delivery svg-element data-svg"
      data-file-name="svg-delivery"
    ></em>
    <span class="font-md-24">Delivery</span>
  </a>
  <a
    href="#"
    data-url="/servicios/pasarela-de-pagos/"
    class="button-link pasarela-de-pagos data-url svg-animate"
  >
    <em
      class="icon_payment_gateway svg-element data-svg"
      data-file-name="svg-payment-gateway"
    ></em>
    <span class="font-md-24">Pasarela de Pagos</span>
  </a>
  <a
    href="#"
    data-url="/servicios/billetera-electronica/"
    class="button-link billetera-electronica data-url svg-animate"
  >
    <em
      class="icon_electronic_wallet svg-element data-svg"
      data-file-name="svg-electronic-wallet"
    ></em>
    <span class="font-md-24">Billetera Electrónica</span>
  </a>
  <a
    href="#"
    data-url="/servicios/prestamos-digitales/"
    class="button-link prestamos-digitales data-url svg-animate"
  >
    <em
      class="icon_digital_loans svg-element data-svg"
      data-file-name="svg-digital-loans"
    ></em>
    <span class="font-md-24">Préstamos Digitales</span>
  </a>
</div>
