<h2 class="section-title font-2xl-48">Otros servicios</h2>
<div class="buttons-category">
  <a
    href="#"
    data-url="/servicios/consultoria-tecnologica/"
    class="button-link consultoria-tecnologica data-url"
  >
    <em class="icon-circle material-symbols-outlined">3p</em>
    <span class="font-md-24">Consultoría tecnológica</span>
  </a>
  <a
    href="#"
    data-url="/servicios/software-a-la-medida/"
    class="button-link software-a-la-medida data-url"
  >
    <em class="icon-circle material-symbols-outlined">terminal</em>
    <span class="font-md-24">Software a la medida</span>
  </a>
  <a
    href="#"
    data-url="/servicios/integracion-de-sistemas/"
    class="button-link integracion-de-sistemas data-url"
  >
    <em class="icon-circle material-symbols-outlined">auto_transmission</em>
    <span class="font-md-24">Integración de sistemas</span>
  </a>
  <a
    href="#"
    data-url="/servicios/procesos-automatizados/"
    class="button-link procesos-automatizados data-url"
  >
    <em class="icon-circle material-symbols-outlined">rule_settings</em>
    <span class="font-md-24">Procesos automatizados</span>
  </a>
  <a
    href="#"
    data-url="/servicios/diseno-visual/"
    class="button-link diseno-visual data-url"
  >
    <em class="icon-circle material-symbols-outlined">design_services</em>
    <span class="font-md-24">Diseño visual</span>
  </a>
  <a
    href="#"
    data-url="/servicios/diseno-de-experiencia-de-usuario/"
    class="button-link diseno-de-experiencia-de-usuario data-url"
  >
    <em class="icon-circle material-symbols-outlined">group</em>
    <span class="font-md-24">Diseño de experiencia de usuario</span>
  </a>
</div>
